In [1]:
# i based on this reduction : https://www.cs.mcgill.ca/~lyepre/pdf/assignment2-solutions/subsetSumNPCompleteness.pdf

import pandas as pd
from pandas import *
import math
#from prettytable import PrettyTable
import numpy as np
import array as arr
 #reading dimacs cnf format:
import sys
import itertools 
# import mxklabs.dimacs 
# from mxklabs.dimacs.dimacs import read
# from mxklabs.dimacs.dimacs import Dimacs

In [2]:
def subsetsum(array,num):

    if num == 0 or num < 1:
        return None
    elif len(array) == 0:
        return None
    else:
        if array[0] == num:
            return [array[0]]
        else:
            with_v = subsetsum(array[1:],(num - array[0])) 
            if with_v:
                return [array[0]] + with_v
            else:
                #adding loop that will send (array[i:] for i in range (0,len(arr)))
                return subsetsum(array[1:],num)

In [15]:
subsetsum([5,2,9], 11)

[2, 9]

# Sudoku option

In [3]:
# with open(r"C:\Users\vicli\Documents\sudoku\sudoku-sat-solver\clauses.txt") as f:
#     lines = f.read().splitlines()

In [4]:
with open(r"C:\Users\vicli\Documents\sudoku\sudoku-sat-solver\clauses.txt") as f:
    lines = f.read()
    
r = open(r"C:\Users\vicli\Documents\sudoku\sudoku-sat-solver\clauses2.txt", "w")

for line in lines:
    r.write(line.replace(']','').replace('[',''))
    
with open(r"C:\Users\vicli\Documents\sudoku\sudoku-sat-solver\clauses2.txt") as clauses:
    clauses_to_work = clauses.read()

In [19]:
df_sudoku= pd.read_csv(r"C:\Users\vicli\Documents\sudoku\sudoku-sat-solver\clauses3.txt")

In [20]:
df_sudoku.fillna('', inplace = True)

In [21]:
clauses_string=df_sudoku.values.tostring()

In [22]:
clauses_list = df_sudoku.values.tolist()

In [23]:
myString=[]

for i in range (0, len(clauses_list)):
    myString.append(','.join(map(str, clauses_list[i])) )

In [24]:
# for i in range (0,len(myString)):
#     myString[i]=(myString[i]).split(',')

for i in range (0,len(myString)):
        myString[i]= (myString[i]).replace(",", " ")
        myString[i]= (' ').join([c  for c in myString[i] ])
        myString[i]= (myString[i]).replace("- ", "-")
        myString[i]= (myString[i]).replace(".", "")

In [25]:
in_data = ['c horn? no', 'c forced? no', 'c mixed sat? no', 'c clause length = 3', 'c', 'p cnf 20  91', (myString) ]
out_data = [[int(n) for n in (line).split()] for line in in_data[6] if line[0] not in ('c', 'p')]
# print(in_data)

# continue

In [26]:
# 1 -3 0
# 1 3  0
# -1 -3 0
# -1 3 0
#'1 -1 11 0', '3 10 -5 0', '-5 -8 -15 0', '-10 7 -16 0'

# in_data = ['c horn? no', 'c forced? no', 'c mixed sat? no', 'c clause length = 3', 'c', 'p cnf 20  91', '1 -3 0','1 3 0', '-1 -3 0','-1 3 0']
# out_data = [[int(n) for n in line.split()] for line in in_data if line[0] not in ('c', 'p')]

# for i in enumerate(out_data):
#     listi=i[1]
#     if((abs(listi[0])==abs(listi[1]))):
#         if((listi[0]>0 and listi[1] <0) or (listi[0]<0 and listi[1] >0)):
#             print('can not continue there is a problem')
            
# #     elif((listi[2])=):
# #         continue
            
#     elif((abs(listi[0])==abs(listi[2]))):
        
#         if((listi[0]>0 and listi[2] <0) or (listi[0]<0 and listi[2] >0)):
#             print('can not continue there is a problem')
    
#     elif((abs(listi[1])==abs(listi[2]))):
#         if((listi[1]>0 and listi[2] <0) or (listi[1]<0 and listi[2] >0)):
#             print('can not continue there is a problem')
    
#     else:
#         continue
    
#print(out_data)
listofhigh=[]
for i in range (len(out_data)):
    highest=abs(max((out_data[i]), key=abs))
    listofhigh.append(highest)
    
highestX=max(listofhigh)
# highest

In [27]:
out_data

[[-1, -2], [-1, -3], [-1, -4], [-1, -5]]

In [77]:
#if it's not 3sat
how_many_in_clouse=2

In [28]:

number_of_clauses=len(out_data)

In [29]:
number_of_clauses

4

In [30]:
clause_list=[]                           
clause_list1=[]

for k in range(1,max(listofhigh)+1):
    clause_list.append('x{}'.format(k))

for u in range(0,(number_of_clauses)):
    clause_list.append('c{}'.format(u))              #declarating on clause headers accordding to the input
    
listheader=(clause_list+clause_list1)

In [31]:
clause_list

['x1', 'x2', 'x3', 'x4', 'x5', 'c0', 'c1', 'c2', 'c3']

In [32]:

# t1=PrettyTable(listheader)
t2=pd.DataFrame(columns=list(listheader))#, np.radians(size(len(listheader),len(clause_list))*2))

In [33]:

for col1 in t2:
    for i in range (0,(highestX)+1+((number_of_clauses))):
            t2.set_value(index=i, col=col1, value=0, takeable=False)

C:\Users\vicli\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

In [34]:
for j in range (highestX+1,highestX+1+(number_of_clauses)):
   
        t2.iloc[j][j-1]=1
#             t2.iloc[j+1][highestX+k]=1

In [35]:
t2=t2.append(t2[highestX+1:highestX+1+(number_of_clauses)],ignore_index=True)

In [36]:
# print(t2)

In [37]:
for j in range (0, highestX):
    for k in range(0, (len(clause_list))):
        if(j==k):
            t2.iloc[k+1][j]=1
            
            
        else:
            continue

In [61]:
t2

   x1 x2 x3 x4 x5 c0 c1 c2 c3
0   0  0  0  0  0  0  0  0  0
1   1  0  0  0  0  0  0  0  0
2   0  1  0  0  0  0  0  0  0
3   0  0  1  0  0  0  0  0  0
4   0  0  0  1  0  0  0  0  0
5   0  0  0  0  1  0  0  0  0
6   0  0  0  0  0  1  0  0  0
7   0  0  0  0  0  0  1  0  0
8   0  0  0  0  0  0  0  1  0
9   0  0  0  0  0  0  0  0  1
10  0  0  0  0  0  1  0  0  0
11  0  0  0  0  0  0  1  0  0
12  0  0  0  0  0  0  0  1  0
13  0  0  0  0  0  0  0  0  1

#  to add the thing to t3 that looking for the false

In [65]:
t3=t2[0:14].sort_index()

In [72]:
highestX

5

In [75]:
t3.iloc[1][5]

1

In [74]:
out_data[0][0]

-1

In [78]:
for j in range (0,number_of_clauses):
    
    if(j==0):
        for k in range(0,how_many_in_clouse):
            if(out_data[j][k] <0):
                t3.iloc[abs(out_data[j][k])][highestX]=1
                print(abs(out_data[j][k]))
    elif(j==1):
        for k in range(0,how_many_in_clouse):
            if(out_data[j][k] <0):
                t3.iloc[abs(out_data[j][k])][highestX+1]=1
    elif(j==2):
        for k in range(0,how_many_in_clouse):
            if(out_data[j][k] <0):
                t3.iloc[abs(out_data[j][k])][highestX+2]=1
    elif(j==3):
        for k in range(0,how_many_in_clouse):
            if(out_data[j][k] <0):
                t3.iloc[abs(out_data[j][k])][highestX+3]=1
    else:
        continue

1
2

In [40]:
#print(t2)

In [41]:
for j in range (0,number_of_clauses):
    
    if(j==0):
        for k in range(0,how_many_in_clouse):
            if(out_data[j][k] >0):
                t2.iloc[(out_data[j][k])][highestX]=1
#             print(abs(out_data[j][k]))
    elif(j==1):
        for k in range(0,3):
            if(out_data[j][k] >0):
                t2.iloc[(out_data[j][k])][highestX+1]=1
    elif(j==2):
        for k in range(0,3):
            if(out_data[j][k] >0):
                t2.iloc[(out_data[j][k])][highestX+2]=1
    elif(j==3):
        for k in range(0,3):
            if(out_data[j][k] >0):
                t2.iloc[(out_data[j][k])][highestX+3]=1 
    else:
        continue

IndexError: list index out of range

In [42]:
 '4 -12 11 0', '3 10 -5 0', '-5 -8 -15 0', '-10 7 -16 0'

('4 -12 11 0', '3 10 -5 0', '-5 -8 -15 0', '-10 7 -16 0')

In [43]:
#print(t3)

In [44]:
#print(t2)

In [45]:
frame= [t2,t3]
result = pd.concat(frame)

In [46]:
#print(result.sort_index())

In [47]:
print(len(result.index))

28

In [48]:
number='1'
for y in range (1,highestX):
    number=number+'1'
    
for o in range (0,number_of_clauses):
    number=number+'3'
    
print(int(number))

111113333

In [49]:
temp=[]

for row in result.iterrows():
    index, data = row
    temp.append(data.tolist())

# print(temp)

In [50]:
# print((result.as_matrix()[0][0:highestX+ number_of_clauses]).shape)
# print(result.shape)

In [51]:
# # subsetsum(result.as_matrix(), int(number))
# from itertools import combinations

# if(np.sum((lambda r: list(combinations(result, r))))==number):
#     print('good')

In [52]:
# cc = list(combinations(np.array(result),highestX+number_of_clauses))

In [53]:
# print(cc)

In [54]:
# print(result.values)

In [55]:
result

   x1 x2 x3 x4 x5 c0 c1 c2 c3
0   0  0  0  0  0  0  0  0  0
1   1  0  0  0  0  0  0  0  0
2   0  1  0  0  0  0  0  0  0
3   0  0  1  0  0  0  0  0  0
4   0  0  0  1  0  0  0  0  0
5   0  0  0  0  1  0  0  0  0
6   0  0  0  0  0  1  0  0  0
7   0  0  0  0  0  0  1  0  0
8   0  0  0  0  0  0  0  1  0
9   0  0  0  0  0  0  0  0  1
10  0  0  0  0  0  1  0  0  0
11  0  0  0  0  0  0  1  0  0
12  0  0  0  0  0  0  0  1  0
13  0  0  0  0  0  0  0  0  1
0   0  0  0  0  0  0  0  0  0
1   1  0  0  0  0  1  0  0  0
2   0  1  0  0  0  1  0  0  0
3   0  0  1  0  0  0  0  0  0
4   0  0  0  1  0  0  0  0  0
5   0  0  0  0  1  0  0  0  0
6   0  0  0  0  0  1  0  0  0
7   0  0  0  0  0  0  1  0  0
8   0  0  0  0  0  0  0  1  0
9   0  0  0  0  0  0  0  0  1
10  0  0  0  0  0  1  0  0  0
11  0  0  0  0  0  0  1  0  0
12  0  0  0  0  0  0  0  1  0
13  0  0  0  0  0  0  0  0  1

In [56]:
# result.values.tolist()

In [57]:
members = []
for i, row in result.iterrows():
    temp2 = '' #string
    for member in row.values.astype(str):
        temp2 += member
    members.append(int(temp2))

In [58]:
members

[0,
 100000000,
 10000000,
 1000000,
 100000,
 10000,
 1000,
 100,
 10,
 1,
 1000,
 100,
 10,
 1,
 0,
 100001000,
 10001000,
 1000000,
 100000,
 10000,
 1000,
 100,
 10,
 1,
 1000,
 100,
 10,
 1]

In [59]:
subsetsum(members,int(number))

[0,
 100000000,
 10000000,
 1000000,
 100000,
 10000,
 1000,
 100,
 10,
 1,
 1000,
 100,
 10,
 1,
 0,
 1000,
 100,
 10,
 1]